@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", serif;
  font-size: 1.4rem;
  color: #6b6b6b;
  background: #f2f2f2;
  margin: 0;
}

img {
  vertical-align: middle;
}

header {
  background: #363636;
  color: #ffffff;
  height: 75px;
  padding: 20px;
}

.module {
  color: #dadada;
  font-size: 20px;
  font-weight: 600;
  font-family: "Roboto Slab";
}

.menu-item {
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  transition: color 0.3s linear;
  font-family: "Open Sans";
  margin: 15px;
}

.menu-item:hover {
  color: #da4453;
}

.menu {
  margin-top: 5px;
}

.slider {
  max-width: 100%;
  background: url(slider.png);
  position: relative;
  margin-bottom: 50px;
}

.slider-header {
  position: absolute;
  left: 0;
  right: 0;
  max-width: 1170px;
  bottom: 0;
  margin: 60px auto;
  justify-content: left;
}

.slider-header1 {
  background: rgba(218, 68, 83, 0.7);
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  padding: 12px 20px;
  max-width: 240px;
  margin: 0;
}

.slider-header2 {
  background: rgba(59, 59, 59, 0.8);
  color: #dddddd;
  padding: 12px 20px;
  max-width: 600px;
  margin: 0;
}

.content {
  /*width: 1170px;
    max-width: 100%;
    */

  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.main-content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.column-left {
  width: 750px;
  flex-shrink: 0;
  max-width: 70%;
  margin-right: 15px;
}

.article {
  font-size: 1.4rem;
  color: #6b6b6b;
  background-color: #ffffff;
  margin-bottom: 50px;
}

.article .article-image img {
  max-width: 100%;
  transition: oposity 0.3s linear;
}

.article .article-image img:hover {
  opacity: 0.8;
}

.article .article-content {
  padding: 45px 50px;
  border: 1px solid #dadada;
}

.article .content-heading h1 {
  margin: 0 0 30px 0;
}

.article .content-heading h1 a {
  color: #444444;
  text-decoration: none;
  font-family: "Roboto Slab";
  font-size: 2.8rem;
  transition: color 0.3s linear;
}

.article .content-heading a:hover {
  color: #da4453;
}

.article .content-meta {
  display: flex;
  margin-bottom: 30px;
}

.article .content-meta > div {
  margin-right: 15px;
}

.article .content-meta > div:last-child {
  margin-right: 0;
}

.article .content-meta a {
  font-size: 13px;
  color: #6b6b6b;
  text-decoration: none;
}

.article .content-actions {
  text-align: right;
  margin-top: 10px;
}

.article .content-actions .readmore {
  background: #da4453;
  color: #ffff;
  font-size: 1.3rem;
  padding: 11px 13px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #da4453;
  transition: background 0.3s linear;
}

.article .content-actions .readmore:hover {
  background: #000000;
  border-color: 1px solid #000000;
}

.column-right {
  width: 390px;
  background: #ffff;
  padding: 30px;
  border-color: #dadada;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 4px;
}

.right-header {
  font-size: 14px;
  font-weight: 600;
  color: #636467;
  margin-bottom: 25px;
}

.link-list {
  display: flex;
  margin-bottom: 50px;
}

.link {
  text-decoration: none;
  color: #ffffff;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 3px;
  font-size: 18px;
  background: #c1c0c0;
  display: inline-block;
  transition: background 0.3s linear;

}

.link i {
padding: 10px;
}

.link1 {
  padding-top: 2px;
  padding-left: 2px;
}

.link1:hover {
  background: #55acee;
}

.link2 {
  padding-left: 4px;
  padding-top: 2px;
}

.link2:hover {
  background: #4265b9;
}

.link3{
  padding-left: 2px;
  padding-top: 2px;
}

.link3:hover {
  background: #df3333;
}

.link4 {
padding-top: 2px;
}


.link4:hover {
  background: #d62408;
}

.link5 {
  padding-top: 1px;
}

.link5:hover {
  background: #5b8bb4;
}

.comment-style {
  color: #c1c0c0;
  border-bottom-style: inset;
  border-bottom-style: #f2f2f2;
  border-width: thin;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.tag-style {
  display: inline-block;
}

.tag-style a {
  text-decoration: none;
  background-color: #dadada;
  margin-bottom: 4px;
  padding: 6px 7px;
  color: #ffffff;
  border-radius: 3px;
  font-size: 12px;
  transition: background 0.3s linear;
  max-width: 390px;
  display: inline-block;
}

.tag-style:hover a {
  background-color: #da4453;
}

.footer{
  height: 75px;
  background-color: #1f1f1f;
  padding: 10px 0;
}

.footer-content{
  width: 100%;
  margin: 15px auto;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
}

.footer-link {
  color: #dadada;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 12px;
  transition: color 0.3s linear;
}

.footer-link:hover{
  color: #ffffff;
}

.footer-copywrite{
  font-size: 12px;
  color: #dadada;
}

.footer-copywrite2{
  font-size: 12px;
  color: #999999;
}

