body {
  font-size: 20px;
}

.container1 {
  display: flex;
}

.container1_1 {
  display: flex;
}

.container1_2 {
  display: flex;
}

.container2 {
  display: flex;
}

.container-content1 {
  background: rgb(230, 225, 225);
  padding: 15px;
  margin: 15px;
}

.container-content2 {
  background: rgb(230, 225, 225);
  padding: 15px;
  margin: 15px;
}

.container-content3 {
  background: rgb(230, 225, 225);
  padding: 15px;
  margin: 15px;
}

@media screen and (orientation: portrait) {
  .container1_1 {
    display: flex;
    flex-direction: column-reverse;
  }

  .container1_2 {
    display: flex;
    flex-direction: row-reverse;
  }

  .container2 {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  .container1 {
    display: flex;
    flex-direction: column;
  }

  .container1_1 {
    display: flex;
    flex-direction: column;
  }

  .container1_2 {
    display: flex;
    flex-direction: column;
  }

  .container2 {
    display: flex;
    flex-direction: column;
  }
}
