table {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: black;
}

th {
  background-color: #806868;
  color: #ffffff;
}

td:nth-child(3),
td:nth-child(4) {
  text-align: center;
}

td:last-child {
  text-align: right;
}

tr:nth-child(3),
tr:nth-child(5) {
  background-color: #f3dede;
}

tr:nth-child(2),
tr:nth-child(4) {
  background-color: #ffffff;
}
