nav {
  background: #2e2424;
}

.link1 {
  color: #ecd5d5;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-right-style: ridge;
}

.link2 {
  color: #ecd5d5;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
