.container {
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 0px 8px 0px rgb(0, 0, 0);
  padding: 20px;
  justify-content: center;
}

.container-color1 {
  width: 50px;
  height: 70px;
  background: rgb(199, 34, 34);
}

.container-color2 {
  width: 50px;
  height: 50px;
  background: rgb(50, 112, 228);
}

.container-color3 {
  width: 50px;
  height: 30px;
  background: rgb(77, 233, 111);
}

.container-color4 {
  width: 50px;
  height: 100px;
  background: rgb(225, 228, 50);
}

.container-color5 {
  width: 50px;
  height: 90px;
  background: rgb(228, 186, 50);
}

.container-color6 {
  width: 50px;
  height: 60px;
  background: rgb(39, 214, 245);
}

.container-color7 {
  width: 50px;
  height: 10px;
  background: rgb(198, 50, 228);
}

.container-color8 {
  width: 50px;
  height: 35px;
  background: rgb(169, 42, 185);
}

.container-procents {
  text-align: center;
}
